
    body {
        margin: 0 !important;
        overflow-y: hidden;
        
    }
    
    .box{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width:100vw;
    min-height:100vh;
    overflow-y: hidden !important; 
    background-image: url(background.png) !important;
    padding-bottom:3vh;
    padding-top: 3vh;
    }

    .container{
        width:80vw;
    }
